<div class="body2">
  <section class="blog">
    <h2 class="p-10 pt-16 text-4xl font-bold">Your Ultimate Bootcamp Provider</h2>
    <p class="text-lg">Feel success </p>
    <p class="text-lg">
      Compared to traditional degrees, bootcamps are typically more affordable and offer a quicker return on investment.
      Graduates can enter the workforce sooner and start earning, often recouping their educational costs rapidly.
    </p>
    <div class="cards">
      <div class="card">
        <a routerLink="patika">
          <img src="/assets/DGJgUipJ_400x400.jpg" alt=""/>
          <div class="overlay-patika">
            <h3 class="text-2xl font-bold">Patika</h3>
            <p class="text-lg">
              At Patika.dev, we offer free programs sponsored by our partner employers. We teach the most sought-after
              tech skills. Graduates of our programs get directly hired by our partner employers!
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="coderspace">
          <img src="/assets/logo-mor-white.png" alt=""/>
          <div class="overlay-coderspace">
            <h3 class="text-xl font-bold ">CoderSpace</h3>
            <p class="text-lg">
              Nerede Çalışacağına Sen Karar Ver!
              Coderspace, Türkiye ve Avrupa’nın farklı şehirlerindeki şirketlerle çalışıyor.
              Uzaktan, ofisten veya farklı şehirlerden… Çalışmak istediğin yeri seç, şirketler sana başvursun! </p>
          </div>
        </a>
      </div>


      <div class="card">
        <a routerLink="techcareer">
          <img src="/assets/img.png" alt=""/>
          <div class="overlay-techcareer">
            <h3 class="text-2xl font-bold">TechCareer</h3>
            <p class="text-lg">
              Teknoloji alanında kariyer yapmak istiyor ancak hangi pozisyonu seçeceğini veya seçtiğin pozisyonda hangi
              adımlardan geçmen gerektiğini bilmiyorsan, Kariyer Rehberi ile en doğru yerdesin!
            </p>
          </div>
        </a>
      </div>


    </div>

    <p class="text-lg">
      Join us at most successful bootcamps in the world and start your career in tech!
    </p>
  </section>

</div>

